extends layout
block content
  if success
    p Watcher successfully destroyed! You should receive no more emails for this watcher.
    p Do you want to #[a(href="/") make a new watcher?]
  else
    p Something went terribly wrong! This watcher may have already been deleted.
    p If you are still recvieving emails for this watcher, please email info@bnbwatcher.com.
