extends layout

block content
  if success
    p Thanks for creating a new watcher!
    p You will receive an email whenever new rooms become available that match your criteria.
    p You have also been sent an email that includes a link that you can use to cancel the watcher at any time.
    p Do you want to #[a(href='/') make another watcher?]
  else
    p Something went terribly wrong! #[a(href='/') Start over :(]
