footer#footer_bar
  section#footer_text
    p Bnb Watcher is not affiliated with Airbnb.com.
    p Airbnb is a registered trademark of Airbnb, Inc.
    p Fork me on #[a(target="_blank", href="//github.com/karlwithak/bnbwatcher") GitHub]