footer#footer_bar
  section#footer_text
    p.
      Fork me on #[a(target='_blank', href='//github.com/karlwithak/bnbwatcher') GitHub] |
       info@bnbwatcher.com
    p Bnb Watcher is not affiliated with Airbnb.com.
