extends emailLayout

block content
  | Your watcher for a room in #{location} on #{date.toDateString()} has expired!
  | This means that you will no longer be getting any room alerts for this watcher.
  br
