html
  table#main(cellpadding='0', cellspacing='0')
    tr
      td.header
          a(href='http://bnbwatcher.com') Bnb Watcher
    tr
      td.content
        block content
    tr
      td.details
        block details
          br
          br
          | #[a(href='#{unsubscribe}') Unsubscribe] from all Bnb Watcher emails
    tr
      td.footer
        a(href='http://bnbwatcher.com') Bnb Watcher

