extends layout

block content
  | Your watcher for a room in #{location} on #{date.toDateString()} has expired!
  | This means that you will no longer be getting any room alerts for this watcher.
  br
  br
  | You can create a new watcher any time at #[a(href='http://bnbwatcher.com') bnbwatcher.com]
  br
  br
  | Thanks for using Bnb Watcher!