extends layout

block content
  | You have created a new watcher for #{location} at Bnb Watcher!
  br
  br
  | If you don't know why you got this email, or don't want to receive any more emails for this
  | watcher, you can cancel it at: #{cancelLink}
  br
  br
  | You can create a new watcher any time at #[a(href="http://bnbwatcher.com") bnbwatcher.com]
  br
  br
  | Thanks for using Bnb Watcher!